
/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgb(231, 228, 228);
  
 }

header{
  
  background-color: rgba(7, 7, 171, 0.76);
  color: white;
  padding:10px 20px;
   width: 100%; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  



}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
 
  padding: 0.7rem 1.5rem; 
 

}
nav a:hover{
  background-color: rgb(3, 3, 82);
  opacity: 0.5;
}

.hero{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  margin: 20px auto;
}
.hero-text h1{
  font-weight: bold;
  font-size: 45px;


}
.role{
  color: brown;
  font-size: 2.5rem;
  font-weight: bold;
  animation-name: textFadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  
}
@keyframes textFadeIn{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text p{
  font-size: 1rem;
}
.hero-img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 150px;
  
  
}
@media screen and (max-width:200px){
  .hero{
    padding: 0px 20px;
    background-color: bisque;
    
  }
  .hero-img{
    width: 180px;
  }
}
#about{
  font-size: 1.38rem;
}






.skills{
  margin-top: 1rem;
  padding: 1rem 0;
}
.skills h3{
  margin-bottom: 20px;
  font-size: 2rem;
}
.skills-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.skills-card{
  background-color:rgba(7, 7, 171, 0.76) ;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  
}

.projects{
  margin-top: 1rem;
  padding: 1rem 0;

}
.projects h1{
  margin-bottom: 20px;
  font-size: 2rem;

}
.projects-grid{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap: 1rem;
}
.projects-card{
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 10px;
}
.projects-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
  
.projects-card:hover {
  background-color: #aeace8;
  transition: background-color 0.3s ease-in-out;
}
.contact{
  margin-top: 1rem;
  padding: 1rem 0;
  

}
.contact h1{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact-grid{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-grid form{
  width:21.8rem ;
  background-color: whitesmoke;
  padding: 1.5rem;

}
.contact-grid input,
.contact-grid textarea{
  width: 100%;
  border: 1px solid blue;
}
.contact-grid button{
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  border: none;
  background-color: rgba(7, 7, 171, 0.76) ;
  color: white;
  font-size: 2rem;
  font-weight: 80rem;
}
.contact-grid button:hover{
  background-color:  rgba(3, 3, 82, 0.32);
}
.cprightinfo{
  background-color: rgba(7, 7, 171, 0.76);
  width: 100%;
  align-items: center;
  padding: 1.5rem;
}
.cprightinfo-info {
  align-items: center;
  color: white;
}
.button{
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color:  rgba(7, 7, 171, 0.76);
  border: none;
  padding: 0.8rem 2rem;
  text-decoration: none;
}
.button:hover{
  background-color: rgba(3, 3, 82, 0.32) ;
}





























